@font-face {
    font-family: "Roboto";
    src: url("../font/Robot.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../font/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Mark";
    src: url("../font/Mark.woff") format('woff');
}

@font-face {
    font-family: "Mark-lab";
    src: url("../font/Mark-Lab/Mark-Lab.otf") format("truetype");
}

@font-face {
    font-family: "Museo";
    src: url("../font/MuseoSans/MuseoSansCyrl_3.otf") format("truetype");
}

@font-face {
    font-family: "Museo0";
    src: url("../font/MuseoSans/MuseoSansCyrl_0.otf") format("truetype");
}

@font-face {
    font-family: "Museo1";
    src: url("../font/MuseoSans/MuseoSansCyrl_1.otf") format("truetype");
}

@font-face {
    font-family: "Museo3";
    src: url("../font/MuseoSans/MuseoSansCyrl_3.otf") format("truetype");
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../font/MuseoSans/MuseoSansCyrl.otf") format("truetype");
}