$mainText: #11152d;
#our-works {
    min-height: 500px;
    margin-top: 150px;
    margin-bottom: 90px;
    .work-item {
        font-family: "Museo3";
        color: $mainText;
        h2 {
            font-size: 11.5rem;
            margin-top: -20px;
        }
        h5 {
            font-size: 4.6rem;
        }
        &.one {
            min-height: 280px;
            margin-top: 35px;
            background: url(../img/works/oil.png) center no-repeat;
        }
        &.two {
            min-height: 275px;
            background: url(../img/works/cargo.png) center no-repeat;
        }
        &.three {
            min-height: 175px;
            margin-top: 30px;
            background: url(../img/works/catcar.png) center no-repeat;
        }
        &.four {
            min-height: 175px;
            background: url(../img/works/catcar.png) center no-repeat;
        }
        &.five {
            min-height: 275px;
            margin-top: 38px;
            background: url(../img/works/truck.png) center no-repeat;
        }
    }
}